<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>PM - {% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('bundles/communs/css/bootstrap.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/communs/css/jquery-ui.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/communs/css/datepicker.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/communs/css/select2.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/communs/css/select2-bootstrap.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/communs/css/webix.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/communs/css/fullcalendar.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/communs/css/main.css') }}" type="text/css" media="all" />
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/jquery-1.11.1.min.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/jquery.ui.touch-punch.min.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/bootstrap-datepicker.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/bootstrap-datepicker.fr.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/jit.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/webix.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/select2.min.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/moment.min.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/fullcalendar.min.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('bundles/communs/js/lang-all.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}
    </body>
</html>
