{% extends '::base.html.twig' %}
{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_deconnexion">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <span class="navbar-brand">Project Manager</span>
        </div>
        <div class="collapse navbar-collapse" id="menu_deconnexion">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('pm_user_edit', {'id': app.user.id })}}">{{ app.user.username }}</a></li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div>
           {% include 'sidebar.html.twig' %}
                
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-10"  style="padding-bottom:70px">
                {% block sidebar %}
                {% endblock %}
                <div class="">
                    <h3>
                        {% block title %}
                            Administration
                        {% endblock %}
                    </h3>

                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {%block submenu %}{% endblock %}
                    <p>{% block content %}Bienvenue{% endblock %}</p>
                </div>
            </div>
    </div>
{% endblock %}
