<div class="list-group">
    <a href="#" class="list-group-item active">Accueil</a>
    {% if app.user.isadmin %}
        <a href="{{ path('pm_user_index')}}" class="list-group-item" >Utilisateurs</a>
        <a href="{{ path('pm_role_index')}}" class="list-group-item" >Rôles</a>
        <a href="{{ path('pm_status_index')}}" class="list-group-item" >Statuts</a>
        <a href="{{ path('pm_category_index')}}" class="list-group-item" >Catégories</a>
        <a href="{{ path('pm_workspace_add')}}" class="list-group-item link-add-workspace" >+ Workspace</a>
    {% endif %}
    {{ render(controller('PMWorkspaceBundle:Workspace:sidebar')) }}
</div>