{% extends '::layout.html.twig' %}

{% block title %}
    {{ workspace.name }}
{% endblock %}

{% block submenu %}
    {% set route = app.request.attributes.get('_route') %}
        <div class="container">
                <ul class="nav nav-tabs">
                     <li class="{% if route == 'pm_task_calendar' %}active{% endif %}">
                         <a class="blacklink" href="{{ path('pm_task_calendar', {'workspace_id': workspace.id })}}">Calendrier</a>
                     </li>
                     <li class="{% if route == 'pm_workspace_todo' %}active{% endif %}">
                         <a class="blacklink" href="{{ path('pm_workspace_todo', {'id': workspace.id })}}">Mes tâches</a>
                     </li>
                     <li class="{% if route == 'pm_userroleworkspace_index' %}active{% endif %}">
                         <a class="blacklink" href="{{ path('pm_userroleworkspace_index', {'workspace_id': workspace.id })}}">Membres</a>
                     </li>
                     <li  class="{% if route == 'pm_task_index' %}active{% endif %}">
                         <a class="blacklink" href="{{ path('pm_task_index', {'workspace_id': workspace.id })}}">Tâches</a>
                     </li>
                     <li class="{% if route == 'pm_workflow_edit' %}active{% endif %}">
                         <a class="blacklink" href="{{ path('pm_workflow_edit', {'id': workspace.id})}}">Workflow</a>
                     </li>
                </ul>
            </div>
        </div>
{% endblock %}
    
{% block content %}{% endblock %}