{% extends 'PMWorkspaceBundle:Workspace:layout.html.twig' %}

{% block title %}
    {% if action == 'edit' %} 
        Modifier la tâche
    {% else %}
        Ajouter une Tâche 
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
        <form method="POST" {{ form_enctype(form) }} class="form-horizontal" role="form">
            {{ form_errors(form) }}
            <div class="row top-buffer">
                    <label for="pm_workspacebundle_task_name" class="col-sm-2 control-label">Sujet</label>
                    <div class="col-sm-10">
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
            </div>
            <div class="row top-buffer">
                <label for="pm_workspacebundle_task_note" class="col-sm-2 control-label">Note</label>
                <div class="col-sm-10">
                    {{ form_errors(form.note) }}
                    {{ form_widget(form.note, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
                </div>
            </div>
            <div class="row top-buffer">
                <label for="pm_workspacebundle_task_directory" class="col-sm-2 control-label">Dossier</label>
                <div class="col-sm-10">
                    {{ form_errors(form.directory) }}
                    {{ form_widget(form.directory, {'attr': {'class': 'form-control select_directory'}}) }}
                </div>
            </div>
            <div class="row top-buffer">
                <label for="pm_workspacebundle_task_parent" class="col-sm-2 control-label">Liée à (tâche parent)</label>
                <div class="col-sm-10">
                    {{ form_errors(form.parent) }}
                    {{ form_widget(form.parent, {'attr': {'class': 'form-control select_parent'}}) }}
                </div>
            </div>
            {% if action == 'edit' %}
            <div class="row top-buffer">
                <label for="pm_workspacebundle_task_status" class="col-sm-2 control-label">Statut</label>
                <div class="col-sm-10">
                    {{ form_errors(form.status) }}
                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {% endif %}
            <div class="row top-buffer">
                <label for="pm_workspacebundle_task_estimatedTime" class="col-sm-2 col-sm-offset-2 control-label">Temps estimé (H)</label>
                <div class="col-sm-2">
                    {{ form_errors(form.estimatedTime) }}
                    {{ form_widget(form.estimatedTime, {'attr': {'class': 'form-control'}}) }}
                </div>
                <label for="pm_workspacebundle_task_deadline" class="col-sm-2 control-label">Echéance</label>
                <div class="col-sm-3">
                    {{ form_errors(form.deadline) }}
                    {{ form_widget(form.deadline) }}
                </div>
            </div>
            <div class="row top-buffer">
                <label for="pm_workspacebundle_task_category" class="col-sm-2 control-label">Catégorie</label>
                <div class="col-sm-10">
                    {{ form_errors(form.category) }}
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row top-buffer">
                <label for="pm_workspacebundle_task_users" class="col-sm-2 control-label">Affectations</label>
                <div class="col-sm-10">
                    {{ form_errors(form.users) }}
                    {{ form_widget(form.users, {'attr': {'class': 'form-control select_affectations'}}) }}
                </div>
            </div>
             <div class="row top-buffer">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
              </div>
        {{ form_end(form) }}
    </div>
        
        <span class="add-on"><i class="icon-calendar"></i></span>
{% endblock %}
        
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        //var datepicker = $.fn.datepicker.noConflict(); // return $.fn.datepicker to previously assigned value
        //$.fn.bootstrapDP = datepicker;                 // give $().bootstrapDP the bootstrap-datepicker functionality
        var today = new Date();
        
        $(".madate").datepicker({
            format: 'dd/mm/yyyy', 
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            todayHighlight: true,
            language: 'fr',
            startDate: today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear()
        });
        
        $('.select_affectations, .select_directory, .select_parent').select2({
            placeholder: "Choisissez",
            allowClear: true
        });
        
    </script>
{% endblock %}