{% extends 'PMWorkspaceBundle:Workspace:layout.html.twig' %}

{% block sidebar %}


<button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#affichage">
  <span class="glyphicon glyphicon-eye-open"></span> Affichage
</button>

<div id="affichage" class="collapse top-buffer">
    <div class="well">
    <h4>Blocs affichés</h4>
    <form method="POST" {{ form_enctype(form) }}>
        {% for s in allStatus %}
        <div class="checkbox">
            <label>{{ form_widget(attribute(form, 'status_' ~ s.id )) }}&nbsp;{{ form_label(attribute(form, 'status_' ~ s.id )) }}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-default btn-xs">Actualiser</button>
    {{ form_end(form) }}
    </div>
</div>



{% endblock %}

{% block content %}
{% for s in displayedStatus %}
    <div class="col-md-4" >
  <div class="panel panel-primary">
  <div class="panel-heading" >
    {{ s.name}} 
  </div>
  <div class="droppable" style="height:250px; overflow:auto;" statusid="{{ s.id }}">
  <table class="table table-hover table-responsive table-condensed ">
            <thead>
                <tr>
                    <th>Sujet</th>
                    <th style="width:30px;">Action</th>
                </tr>
            </thead>
            <tbody >
                {% set nb = 0 %}
                {% for t in mytasks %}
                    {% if t.status == s %}
                    {% set nb = nb + 1 %}
                    <tr class="draggable" style="z-index:100;" taskid="{{ t.id }}" statusid="{{ s.id }}">
                        <td style="font-size:0.8em; line-height:1.5em;">{{ t.name }}</td>
                        <td class="text-right">
                            <a href="{{ path('pm_task_edit', {'workspace_id': workspace.id, 'task_id': t.id})}}"><img src=" {{ asset('img/pencil.png') }} "></a>
                            <a href="{{ path('pm_task_delete', {'workspace_id': workspace.id, 'task_id': t.id})}}"><img src=" {{ asset('img/delete.png') }} "></a>
                        </td>
                    </tr> 
                    {% endif %}
                {% endfor %}
                {% if s.defaultValue %}
                    <tr>
                        <td colspan="2" class="text-center">
                            <a href="{{ path('pm_task_add', {'workspace_id': workspace.id })}}" class="btn btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
  </div>
</div>
    </div>
{% endfor %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        
    //this will hold reference to the tr we have dragged and its helper
    var c = {};
    
    $('TR.draggable').draggable({
            helper: "clone",
            start: function(event, ui) {
                c.tr = this;
                c.helper = ui.helper;
            }
    });
    
    $(".droppable").droppable({
        over: function(event, ui) {
            $(this).css({
                background: "#ECECEC"
            });
        }, 
        out: function(event, ui) {
            $(this).css({
                background: "#FFFFFF"
            });
        }, 
        drop: function(event, ui) {
            var $fromstatusid = $(c.tr).attr('statusid');
            var $tostatusid = $(this).attr('statusid');
            var $taskid = $(c.tr).attr('taskid');
            
            $(this).find('tbody').append(c.tr);
            //$(c.tr).remove();
            $(c.helper).remove();
            $(this).css({
                background: "#FFFFFF"
            });
            $(c.tr).find('td:first-child').append('<span class="text-right">...</span>');
            $.ajax({
                dataType: 'json', 
                type: "POST",
                url: '{{ path("pm_task_edit_status", {'workspace_id': workspace.id}) }}', 
                data: {taskid: $taskid, fromstatusid: $fromstatusid, tostatusid: $tostatusid}
            }).done(function(html){
                if(html.type == 'danger'){
                    // On replace la ligne à son statut de départ
                    $("[statusid='"+$fromstatusid+"']").find('tbody').append(c.tr);
                } 
               console.log(html.message); 
            });
        }
    });
    </script>
{% endblock %}
        
