    {% if tasks|length > 0 %}
        <table class="table table-hover table-responsive table-condensed">
            <thead>
                <tr>
                    <th>Etat</th>
                    <th>Statut</th>
                    <th>Sujet</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tasks %}
                    <tr>
                        <td>
                            <img src=" {{ asset('img/spinner-3.png') }} ">
                            <a href="#" data-toggle="tooltip" data-placement="left" title="Travailler dessus"><img src=" {{ asset('img/play.png') }} "></a>
                        </td>
                        <td>{{ t.currentTaskStatus.status.name }} </td>
                        <td>{{ t.name }}</td>
                        <td>
                            <a href="{{ path('pm_task_edit', {'workspace_id': workspace.id, 'task_id': t.id})}}"><img src=" {{ asset('img/pencil.png') }} "></a>
                            <a href="{{ path('pm_task_delete', {'workspace_id': workspace.id, 'task_id': t.id})}}"><img src=" {{ asset('img/delete.png') }} "></a>
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">Vous n'avez aucune tâche affectée.</div> 
    {% endif %}