{% extends 'PMWorkspaceBundle:Workspace:layout.html.twig' %}
{% block content %}
    
    <form method="POST" {{ form_enctype(form) }}>
        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th>
                        De / Vers
                    </th>
                    {% for s in status %}
                        <th class="th_workflow_to">{{ s.name }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for statusFrom in status %}
                <tr>
                    <td class="td_workflow_from">
                        <strong>{{ statusFrom.name }}</strong>
                    </td>
                {% for statusTo in status %}
                    <td>
                        {% if statusFrom.id == statusTo.id %}
                            
                        {% else %}
                            {% for role in roles %}
                            <ul class="ul_workflow">
                                <li>
                                    {{ form_widget(attribute(form, 'status_' ~ statusFrom.id ~ '_' ~ statusTo.id ~ '_' ~ role.id )) }} 
                                    {{ form_label(attribute(form, 'status_' ~ statusFrom.id ~ '_' ~ statusTo.id ~ '_' ~ role.id )) }}
                                </li>
                            </ul>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </p>
    {{ form_end(form) }}
{% endblock %}