{% extends 'PMWorkspaceBundle:Workspace:layout.html.twig' %}
{% block content %}
    
    <form method="POST" {{ form_enctype(form) }}>
        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th>
                        De / Vers
                    </th>
                    {% for statusTo in status %}
                    <th class="th_workflow_to">{{ statusTo.name }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for statusFrom in status %}
                <tr>
                    <td class="td_workflow_from">
                        <strong>{{ statusFrom.name }}</strong>
                    </td>
                {% for statusTo in status %}
                    <td class="td_workflow_body" title="Cocher les profils qui peuvent cliquer sur lorsque le statut est égal à '{{ statusFrom.name }}'">
                        {% if statusFrom.id != statusTo.id %}
                            {% for role in roles %}
                                {{ form_widget(attribute(form, 'status_' ~ statusFrom.id ~ '_' ~ statusTo.id ~ '_' ~ role.id )) }}&nbsp;{{ form_label(attribute(form, 'status_' ~ statusFrom.id ~ '_' ~ statusTo.id ~ '_' ~ role.id )) }}
                                <br/>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </p>
    {{ form_end(form) }}
{% endblock %}